.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

h4 {
    margin-top: 2rem;
    color: #DF2027;
}
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    word-wrap: break-word;
}

.price {
    color: rgb(167, 167, 167);
}