.btn {
    font-family: 'poppins';
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 2px 2px 0 rgba(138, 138, 138, 0.2), 0 2px 3px 0 rgba(138, 138, 138, 0.2);

    svg {
        width: 6rem;
    }
}

.square {
    font-size: 1.5rem;
    min-width: 10rem;
    min-height: 10rem;
    margin: 2rem;
}

.black {
    background-color: #000;
    color: white;
}

.red {
    background-color: #DF2027;
    color: white;
}