.btn {
    font-family: 'Filson Pro';
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #FAFAFA;
    // box-shadow: 0 1px 1px 0 rgb(138 138 138 / 10%), 0 1px 2px 0 rgb(138 138 138 / 20%);
    transition: 0.2s all;

    svg {
        width: 6rem;
    }

    /* Adding transformation when the button is active */
    
    &:active {
        transform: scale(1.01);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 26px 1px rgba(138, 138, 138, 0.24);
        /* Lowering the shadow */
    }
}

.transparent {
    box-shadow: none;
    background-color: #FFFFFF;
}

.square {
    font-size: 1.5rem;
    min-width: 10rem;
    min-height: 10rem;
    margin: 1rem;
    p {
        font-size: 1rem;
    }
}

.big {
    font-size: 1.5rem;
    min-width: 12rem;
    min-height: 12rem;
    margin: 2rem;
}

.small {
    padding: .8rem 1rem;
    margin: .8rem;
}

.long {
    font-size: 1.5rem;
    min-width: 22rem;
    min-height: 10rem;
    margin: 1rem;
}

.black {
    background-color: #000;
    color: white;
}

.red {
    background-color: #DF2027;
    color: white;
}

.pink {
    background-color: #F5DED9;
    color: #DF2027;
}

.yellow {
    background-color: #FEF3BE;
    color: #000;
}