.card {
    margin: 2rem .5rem 2rem 0;
    border-bottom: 2px solid #DCDCDC;
}

.long {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 1rem;
    max-width: 25rem;
    margin: 2rem auto;
    
    img, p {
        padding: 1rem;
    }
}

.grey {
    background-color: #f0f0f0;
}

