.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(250, 195, 182, 49%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    .modalContent {
        opacity:0;
        animation: scaleUp .6s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
}

.modalContent {
    padding: 2rem;
    width: 32rem;
    min-height: 45rem;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
    text-align: left;
    height: 40rem;
    overflow-y: scroll;
}

@keyframes scaleUp {
    0% {
        transform:scale(.8) translateY(1000px);
        opacity:0;
    }
    100% {
        transform:scale(1) translateY(0px);
        opacity:1;
    }
}

.step {
    width: 2rem;
}

.header {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .8rem;
    margin: 1rem 0;
}

::-webkit-scrollbar {
    display: none;
}

.button {
    border-radius: 10px;
    border: none;
    margin: 1rem 0;
    padding: .5rem 1rem;
    cursor: pointer;
}

.orderImg {
    display: flex;
    width: 4rem;
    margin-bottom: .5rem;
}

.ingredientBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    min-height: 5rem;
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    transition: 0.2s all;

    &:active, .active {
        background-color: #F5DED9;
        color: #DF2027;
    }

    p {
        font-size: .8rem;
        margin: 0;
    }
}

h3 {
    margin-top: 1rem;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    word-wrap: break-word;
}