.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.512);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.modalContent {
    padding: 2rem;
    width: 32rem;
    min-height: 45rem;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
    text-align: left;
    height: 40rem;
    overflow-y: scroll;
}

.step {
    width: 2rem;
}

.header {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .8rem;
    margin: 1rem 0;
}

::-webkit-scrollbar {
    display: none;
}

h3 {
    margin-top: 1rem;
}
