@import url('fonts.scss');

body {
    font-family: 'Filson Pro';
    width: 45rem;
    margin: 0 auto;
}

.container {
    padding: 2rem;
    text-align: center;
    background-color: #FAFAFA;
}

.flexContainer {
    padding: 2rem;
    text-align: center;
    background-color: #FAFAFA;
    display: flex;
}

.m4 {
    margin: 6.2rem 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.text {
    max-width: 20rem;
    margin: 0 auto;
    line-height: 1.5rem;
}

.beker {
    width: 4rem;
}

p {
    margin: .5rem 0;
}

.round {
    border-radius: 50%;
    margin: 2rem 0;
}

li {
    list-style: none;
}