//  Scss Variables
@import url('fonts.scss');

// fonts
$font: 'Filson Pro', sans-serif;

// greys
$bg: #FAFAFA;
$bg-dark: #f0f0f0;

// branding colors


// spacers
//   xs: '0.85rem',
//   sm: '1rem',
//   base: '1.3rem',
//   md: '1.75rem',
//   lg: '2rem',
//   xl: '4rem',