//  Scss Variables
@import url('fonts.scss');

// fonts
$fontFamily: 'Filson Pro', sans-serif;

// mid tones
$color-light: #fff;
$color-dark: #fafafa;

// branding colors
$color-pink: #DF2027;
$color-red: #F5DED9;
$color-yellow: #FEF3BE;